@import "/app/variable.scss";

.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 0;

  @include mq(md) {
    flex-direction: row;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mq(md) {
    width: 50%;
  }
}

.title {
  font-size: 32px;
}

.img {
  object-fit: cover;
  border-radius: 12px;

  @include mq(md) {
    width: 50%;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 30rem);
  gap: 4rem;
}
